<!-- MAIN CONTENT -->
<div class="banner clearfix container-fluid">
  <!-- START OF BANNER -->
  <div class="background-light card flex-1 row" id="banner">
    <!--Welcome message-->
    <div class="col-md-6 banner-message">
      <p class="header-font">
        Welcome to the Beverage Goblins online community.<br>
        A place to discuss all things related to drinks with other people that share your enthusiasm for beverages.
      </p>
    </div>

    <!-- Guest only -->
    <div *ngIf="!isAuthenticated" class="col-md-4 text-justify guest-only" id="buttonPanel">
      <span class=""><a [routerLink]="['/register']" class="card-body std-pink-btn" id="registerBtn">Register</a></span>
      <span class=""><a [routerLink]="['/login']" class="card-body std-purple-btn" id="signInBtn">Sign In</a></span>
    </div>

    <!-- Member only - Member panel -->
    <div *ngIf="isAuthenticated" class="m-1 col-md-5 member-only flex-1" id="userPanel">
      <!-- User picture -->
      <div class="user-picture-container-header">
        <a title="Go to profile">
          <!-- Display user photo if it exists -->
          <img *ngIf="currentUser?.UserPhoto" [src]="'data:image/png;base64,' + currentUser.UserPhoto" alt="Profile Picture" class="round-img">

          <!-- Display user photo URL if it exists -->
          <img *ngIf="!currentUser?.UserPhoto && currentUser?.UserPhotoUrl" [src]="currentUser.UserPhotoUrl" alt="Profile Picture" class="round-img">

          <!-- Default profile picture if no user photo exists -->
          <img *ngIf="!currentUser?.UserPhoto && !currentUser?.UserPhotoUrl" src="assets/images/defaultuser.png" alt="Profile Picture" class="round-img">
        </a>
      </div>

      <!-- User welcome -->
      <div *ngIf="currentUser" class="m-auto text-center" id="userWelcome">
    <span class="p-1">
        <em>Welcome, <span class="userTitle">{{currentUser?.Username}}</span>!</em>
    </span>
      </div>


      <div class="m-auto" id="banner-user-options">

        <div class="banner-user-options" style="display: flex; justify-content: space-around; align-items: center;">
          <!--Back to Forums-->
          <div class="p-1">
            <a title="back to Forums" class="lighter-link" [routerLink]="['/']">
              <i class="fa-solid fa-home"></i>
              Back To Forums
            </a>
          </div>

          <!--Sign Out-->
          <div class="p-4">
            <a title="Sign Out" class="lighter-link" (click)="logout()">
              <i class="fa-solid fa-right-from-bracket"></i>
              Sign Out
            </a>
          </div>
        </div>

      </div>



    </div>

    <!-- Breadcrumbs -->
    <div class="background-dark card-footer justify-content-start">
      <div class="col-md">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Board Index</li>
          </ol>
        </nav>
      </div>
    </div>

  </div>





<div *ngIf="isAuthenticated" style="display: flex; justify-content: center; align-items: center; min-height: 45vh; padding: 20px;">
  <section class="settings-card" style="max-width: 2000px; margin: auto; width: 100%;">
    <div class="row d-flex justify-content-center col-12 mb-5">
      <div class="col-5 border-pink rounded m-20 background-light card pb-2">
        <form [formGroup]="settingsForm" (ngSubmit)="onUpdateSettings()">

          <div class="d-flex justify-content-center">
            <h1 class="h3 mb-3 mt-4 std-color">User Settings</h1>
          </div>
          <hr />

          <!-- Email Field -->
          <div class="form-floating mb-2">
            <input type="email" class="form-control custom-form-control" formControlName="email">
            <label class="form-label custom-form-label">
              <i class="fa-regular fa-envelope"></i>
              <span>E-mail</span>
            </label>
            <small *ngIf="settingsForm.get('email')?.value && !settingsForm.get('username')?.value" class="form-text text-muted">
              Please also update/enter your username.
            </small>
          </div>

          <!-- Username Field -->
          <div class="form-floating mb-2">
            <input type="text" class="form-control custom-form-control" formControlName="username">
            <label class="form-label custom-form-label">
              <i class="fa-solid fa-user"></i>
              <span>Username</span>
            </label>
            <small *ngIf="settingsForm.get('username')?.value && !settingsForm.get('email')?.value" class="form-text text-muted">
              Please also update/enter your email.
            </small>
          </div>

          <!-- Password Field -->
          <div class="form-floating mb-2">
            <input type="password" class="form-control custom-form-control" formControlName="password">
            <label class="form-label custom-form-label">
              <i class="fa-solid fa-lock"></i>
              <span>Password</span>
            </label>
            <small *ngIf="settingsForm.get('password')?.value && (!settingsForm.get('username')?.value || !settingsForm.get('email')?.value)" class="form-text text-muted">
              Username and email must also be updated/entered to change the password.
            </small>
          </div>

          <!-- Profile Picture Upload -->
          <div class="mb-2">
            <input type="file" (change)="onProfilePictureChange($event)" name="profilePicture" accept="image/*">
            <!-- Image Preview -->
            <div *ngIf="imagePreviewUrl">
              <img [src]="imagePreviewUrl" alt="Profile Picture Preview" class="round-img">
            </div>
            <small *ngIf="!imagePreviewUrl" class="form-text text-muted">
              Please upload a profile picture
            </small>
          </div>


          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>

          <div class="d-flex">
            <button type="submit" class="mb-3 std-purple-btn m-auto" [disabled]="!settingsForm.valid">Update Settings</button>
          </div>

          <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
          </div>

        </form>
      </div>
    </div>
  </section>
</div>
</div>
