<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh; padding: 20px;">
  <section class="register-card" style="max-width: 2000px; margin: auto; width: 100%;">
  <div class="row d-flex justify-content-center col-12 mb-5">
    <div class="col-5 border-pink rounded m-20 background-light card pb-2">

      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

        <div class="d-flex justify-content-center">
          <h1 class="h3 mb-3 mt-4 std-color">Create a new account</h1>
        </div>

        <hr />

        <!-- Username -->
        <div class="form-floating mb-2">
          <input type="text" class="form-control custom-form-control" formControlName="username">
          <label class="form-label custom-form-label"><i class="fa-regular fa-user"></i>Username</label>
          <div *ngIf="registerForm.get('username')?.touched">
            <small class="text-danger" *ngIf="registerForm.get('username')?.errors?.required">Username is required.</small>
            <small class="text-danger" *ngIf="registerForm.get('username')?.errors?.alreadyTaken">Username is already taken.</small>
          </div>
        </div>

        <!-- Email -->
        <div class="form-floating mb-2">
          <input type="email" class="form-control custom-form-control" formControlName="email">
          <label class="form-label custom-form-label"><i class="fa-regular fa-envelope"></i>E-mail</label>
          <div *ngIf="registerForm.get('email')?.touched">
            <small class="text-danger" *ngIf="registerForm.get('email')?.errors?.required">Email is required.</small>
            <small class="text-danger" *ngIf="registerForm.get('email')?.errors?.email">Invalid email format.</small>
          </div>
        </div>

        <!-- Password -->
        <div class="form-floating mb-2">
          <input type="password" class="form-control custom-form-control" formControlName="password">
          <label class="form-label custom-form-label"><i class="fa-solid fa-key"></i>Password</label>
          <div *ngIf="registerForm.get('password')?.touched">
            <small class="text-danger" *ngIf="registerForm.get('password')?.errors?.required">Password is required.</small>
            <small class="text-danger" *ngIf="registerForm.get('password')?.errors?.minlength">Password must be at least 6 characters long.</small>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="form-floating mb-2">
          <input type="password" class="form-control custom-form-control" formControlName="confirmPassword">
          <label class="form-label custom-form-label"><i class="fa-solid fa-key"></i>Repeat password</label>
          <div *ngIf="registerForm.get('confirmPassword')?.touched">
            <small class="text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.required">Confirm password is required.</small>
            <small class="text-danger" *ngIf="registerForm.errors?.notMatching"> Passwords do not match.</small>
          </div>
        </div>

        <div class="d-flex">
          <button type="submit" class="mb-5 login-pink-btn m-auto" [disabled]="!registerForm.valid">Register</button>
        </div>

      </form>

    </div>
  </div>
  </section>
</div>
