<div class="banner clearfix container-fluid">
  <!--Start of Footer-->
  <div class="card row" id="footer">

    <!--Breadcrumbs-->
    <div class="background-dark card-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Board Index</li>
        </ol>
      </nav>
    </div>

    <!--Main content-->
    <div class="background-light card-body flex-2">

      <!--Legend-->
      <div class="col-6 col-md-3">
        <p>
          <b>Legend :: </b><span class="adminTitle">Administrator</span>, <span class="modTitle">Moderators</span>, <span class="userTitle">Members</span>
        </p>
      </div>

      <!--Newest Member-->
      <div class="col-6 col-md-3">
        <p><b>Newest Member: </b> <a href="#" class="userTitle user-link">bubbletrouble</a></p>
      </div>

      <!--Total Threads-->
      <div class="col-4 col-md-2">
        <p><b>Total Threads:</b> 256</p>
      </div>

      <!--Total Posts-->
      <div class="col-4 col-md-2">
        <p><b>Total Posts:</b> 2752</p>
      </div>

      <!--Total Users-->
      <div class="col-4 col-md-2">
        <p><b>Total Users:</b> 78</p>
      </div>

    </div>
    <!--End of Main Content-->
  </div>
  <!--End of Footer-->
</div>
