a[aria-expanded=true] .fa-plus {
  display: none;
}

a[aria-expanded=false] .fa-minus {
  display: none;
}

.bg-gradient {
  background-color: #D5D19C40;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.fa-minus, .fa-plus {
  color: white;
  text-shadow: -1px -1px 0 #fc375c36, 1px -1px 0 #433b6036, -1.5px 1.5px 0 #433b60, 1px 1px 0 #433b6061;
}

.forum-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

.icon-right {
  float: right;
  margin-right: 30px;
  margin-top: 3px;
}

.list-title-font {
  color: #ffffff;
  font-size: 1em;
  font-weight: 600;
  margin: auto;
  text-shadow: -1px -1px 0 #fc375c36, 1px -1px 0 #433b6036, -1.5px 1.5px 0 #433b60, 1px 1px 0 #433b6061;
}

div.bg-gradient > h2, div.bg-gradient > a {
  padding: 8px 12px;
}

.mb-0 {
  margin-bottom: 0px;
}

#title {
  margin-top: 50px;
  padding-left: 0px;
}

.title-font {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 0px;
  padding-left: 25px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

/**************************************************************************************************/
/** Media dependent attributes **/

/* FROM XS TO M */
@media only screen and (max-width: 767px) {
  .border-md {
    border-top: 1px solid #1D1D1D;
  }

  .centered-sm {
    text-align: center;
  }

  .forum-title-container-sm {
    margin-left: 25px;
  }

  .hidden-mobile {
    display: none;
  }

  .icon-container {
    align-items: flex-end;
  }

  .last-poster-icon {
    padding-bottom: 10px;
  }

  .only-mobile {
    display: flex;
  }

  #buttonPanel {
    margin-bottom: 18px;
  }

  #userPanel {
    padding: 18px 0px !important;
    justify-content: space-evenly;
    margin: 0 0 18px 0 !important;
  }

  #userWelcome {
    display: none;
  }
}

/* FROM S TO XL */
@media only screen and (min-width: 576px) {
  .banner {
    padding: 0px 100px;
  }
}

/* FROM M TO XL */
@media only screen and (min-width: 768px) {
  .border-md {
    border-left: 1px solid #1D1D1D;
  }

  .col-2.icon-container {
    flex-direction: row;
    justify-content: flex-end;
  }
}

/* FROM M TO L*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #registerBtn {
    width: 90px;
  }

  #signInBtn {
    width: 90px;
  }

  #userWelcome {
    display: none;
  }
}
