<!-- MAIN CONTENT -->
<div class="banner clearfix container-fluid">
  <!-- START OF BANNER -->
  <div class="background-light card flex-1 row" id="banner">
    <!--Welcome message-->
    <div class="col-md-6 banner-message">
      <p class="header-font">
        Welcome to the Beverage Goblins online community.<br>
        A place to discuss all things related to drinks with other people that share your enthusiasm for beverages.
      </p>
    </div>
    <!-- Breadcrumbs -->
    <div class="background-dark card-footer justify-content-start">
      <div class="col-md">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Board Index</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>


<div style="display: flex; justify-content: center; align-items: center; min-height: 30vh; padding: 20px;">
  <section class="register-card" style="max-width: 2000px; margin: auto; width: 100%;">
    <div class="row d-flex justify-content-center col-12 mb-5">
      <div class="col-5 border-pink rounded m-20 background-light card pb-2">
        <form #loginForm="ngForm" (ngSubmit)="onLogin()">

          <div class="d-flex justify-content-center">
            <h1 class="h3 mb-3 mt-4 std-color">Sign in</h1>
          </div>

          <hr />

          <div class="form-floating mb-2">
            <input type="email" class="form-control custom-form-control"
                   [(ngModel)]="loginData.email" name="email" required>
            <label class="form-label custom-form-label">
              <i class="fa-regular fa-envelope"></i>
              <span>E-mail</span>
            </label>
          </div>

          <div class="form-floating mb-2">
            <input type="password" class="form-control custom-form-control"
                   [(ngModel)]="loginData.password" name="password" required>
            <label class="form-label custom-form-label">
              <i class="fa-solid fa-key"></i>
              <span>Password</span>
            </label>
          </div>

          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>


          <div class="d-flex">
            <button type="submit" class="mb-3 login-purple-btn m-auto" [disabled]="!loginForm.valid">Log in</button>
          </div>

        </form>
      </div>
    </div>
  </section>
</div>
