<!-- START OF HEADER -->
<header>
  <div class="box row">
    <a [routerLink]="['/']" class="logo">
      <!--Logo-->
      <div><img src="assets/images/logo.png" alt="Logo" class="logo-img"></div>
      <!--Title-->
      <div class="text-center"><span class="logo-font">Beverage Goblins</span></div>
      <!--Logo-->
      <div><img src="assets/images/logo.png" alt="Logo" class="logo-img flip"></div>
    </a>
  </div>
</header>
<!-- END OF HEADER -->

<!-- MAIN CONTENT -->
<div class="banner clearfix container-fluid">
  <!-- START OF BANNER -->
  <div class="background-light card flex-1 row" id="banner">
    <!--Welcome message-->
    <div class="col-md-6 banner-message">
      <p class="header-font">
        Welcome to the Beverage Goblins online community.<br>
        A place to discuss all things related to drinks with other people that share your enthusiasm for beverages.
      </p>
    </div>

    <!-- Member only - Member panel -->
    <div *ngIf="isAuthenticated" class="m-1 col-md-5 member-only flex-1" id="userPanel">
      <!-- User picture -->
      <div class="user-picture-container-header">
        <a title="Go to profile">
          <!-- If user photo exists, display it -->
          <img *ngIf="currentUser?.UserPhoto" [src]="'data:image/png;base64,' + currentUser.UserPhoto" alt="Profile Picture" class="img-thumbnail">
          <!-- If user photo URL exists, display it -->
          <img *ngIf="currentUser?.UserPhotoUrl" [src]="currentUser.UserPhotoUrl" alt="Profile Picture" class="img-thumbnail">
          <!-- Display default profile picture if no user photo exists -->
          <img *ngIf="!currentUser?.UserPhoto" src="assets/images/defaultuser.png" alt="Profile Picture" class="img-thumbnail">
        </a>
      </div>
      <!-- User welcome -->
      <div *ngIf="currentUser" class="m-auto text-center" id="userWelcome">
    <span class="p-1">
        <em>Welcome, <span class="userTitle">{{ currentUser.userName }}</span>!</em>
    </span>
      </div>


      <div class="m-auto" id="banner-user-options">

      <div class="p-2">-->
    <!--Profile-->
        <!-- Profile -->
        <div class="p-1">
          <a title="Go to profile" class="lighter-link" [routerLink]="['/user-settings']">
            <i class="fa-solid fa-user"></i>
            Profile
          </a>
        </div>
        -->
    <!--Settings-->
        <!-- Settings -->
        <div class="p-1">
          <a title="Edit your profile" class="lighter-link" [routerLink]="['/user-settings']">
            <i class="fa-solid fa-gear"></i>
            Settings
          </a>
        </div>

      </div>

    <div class="p-2">-->
    <!--Inbox-->
    <div class="p-1">
      <a href="#" title="Go to inbox" class="lighter-link">
        <i class="fa-solid fa-inbox"></i>
        Inbox
      </a>
    </div>-->
    <!--Sign Out-->
      <div class="p-1">
        <a title="Sign Out" class="lighter-link" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
          Sign Out
        </a>
      </div>
    </div>

      </div>

    </div>
    <!--End of member panel-->
    <!--}
    else
    {-->
    <!-- Guest only -->
    <div *ngIf="!isAuthenticated" class="col-md-4 text-justify guest-only" id="buttonPanel">
      <span class=""><a [routerLink]="['/register']" class="card-body std-pink-btn" id="registerBtn">Register</a></span>
      <span class=""><a [routerLink]="['/login']" class="card-body std-purple-btn" id="signInBtn">Sign In</a></span>
    </div>


    <!-- Breadcrumbs -->
    <div class="background-dark card-footer justify-content-start">
      <div class="col-md">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Board Index</li>
          </ol>
        </nav>
      </div>
    </div>

  </div>

  <main role="main" class="pb-3">
    <app-forums></app-forums>
  </main>

  <!--Start of Footer-->
  <div class="card row" id="footer">

    <!--Breadcrumbs-->
    <div class="background-dark card-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Board Index</li>
        </ol>
      </nav>
    </div>

    <!--Main content-->
    <div class="background-light card-body flex-2">

      <!--Legend-->
      <div class="col-6 col-md-3">
        <p>
          <b>Legend :: </b><span class="adminTitle">Administrator</span>, <span class="modTitle">Moderators</span>, <span class="userTitle">Members</span>
        </p>
      </div>

      <!--Newest Member-->
      <div class="col-6 col-md-3">
        <p><b>Newest Member: </b> <a href="#" class="userTitle user-link">bubbletrouble</a></p>
      </div>

      <!--Total Threads-->
      <div class="col-4 col-md-2">
        <p><b>Total Threads:</b> 256</p>
      </div>

      <!--Total Posts-->
      <div class="col-4 col-md-2">
        <p><b>Total Posts:</b> 2752</p>
      </div>

      <!--Total Users-->
      <div class="col-4 col-md-2">
        <p><b>Total Users:</b> 78</p>
      </div>

    </div>
    <!--End of Main Content-->
  </div>
  <!--End of Footer-->
</div>


